<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ViewMode" value="Split"/>             <!--Values=Split,Duplicate--> 
    <add key="CaptureRegion" value="0,200,1280,400"/> <!--Values=x1,y1,x2,y2 where x1&y1 are topLeft and x2&y2 are width and height -->
    <add key="CaptureMode" value="Sync"/>           <!--Values=Sync,Async-->
    <add key="ShowMouseCursor" value="False"/>      <!--Values=True,False-->
  </appSettings>
</configuration>